.list-of-chars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  list-style-type: none;
  min-height: 320px;
}

.pagesContainer {
  min-height: 50px;
  min-width: 50px;
  border: solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.arrowL,
.arrowR,
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
